@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap" );
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* todo create colors css */


.event-blob-1 {
  aspect-ratio: 1;
  clip-path: shape(from 47.89% 9.28%,curve to 52.40% 6.50% with 50.00% 8.71%,curve to 57.37% 3.77% with 54.80% 4.29%,curve to 60.86% 8.50% with 59.94% 3.25%,curve to 64.43% 12.69% with 61.78% 13.75%,curve to 69.97% 11.02% with 67.08% 11.63%,curve to 75.92% 10.25% with 72.86% 10.40%,curve to 77.19% 15.95% with 78.99% 10.11%,curve to 81.11% 19.32% with 75.39% 21.80%,curve to 86.19% 20.50% with 86.82% 16.84%,curve to 83.59% 27.95% with 85.56% 24.17%,curve to 83.68% 32.91% with 81.62% 31.74%,curve to 87.28% 35.74% with 85.74% 34.09%,curve to 91.16% 39.07% with 88.82% 37.39%,curve to 93.92% 43.05% with 93.50% 40.75%,curve to 91.96% 47.67% with 94.34% 45.34%,curve to 91.05% 52.23% with 89.59% 50.00%,curve to 94.75% 57.23% with 92.52% 54.47%,curve to 95.17% 62.04% with 96.98% 59.99%,curve to 90.33% 65.35% with 93.36% 64.09%,curve to 85.14% 67.82% with 87.29% 66.60%,curve to 80.98% 70.05% with 82.98% 69.04%,curve to 81.12% 75.50% with 78.99% 71.06%,curve to 83.22% 83.40% with 83.26% 79.95%,curve to 78.34% 84.60% with 83.17% 86.84%,curve to 73.51% 86.55% with 73.50% 82.35%,curve to 70.34% 89.65% with 73.52% 90.74%,curve to 64.64% 87.93% with 67.16% 88.55%,curve to 60.91% 91.46% with 62.13% 87.32%,curve to 56.91% 92.47% with 59.69% 95.60%,curve to 52.07% 87.71% with 54.13% 89.34%,curve to 47.91% 87.94% with 50.00% 86.09%,curve to 44.12% 87.72% with 45.82% 89.78%,curve to 40.28% 86.09% with 42.42% 85.66%,curve to 36.83% 84.51% with 38.14% 86.51%,curve to 33.67% 82.01% with 35.52% 82.52%,curve to 29.59% 81.33% with 31.81% 81.51%,curve to 24.43% 81.41% with 27.37% 81.15%,curve to 20.19% 79.83% with 21.49% 81.67%,curve to 16.88% 76.77% with 18.90% 78.00%,curve to 13.98% 73.42% with 14.86% 75.53%,curve to 13.72% 68.59% with 13.11% 71.30%,curve to 13.95% 63.86% with 14.32% 65.88%,curve to 10.39% 60.47% with 13.58% 61.83%,curve to 9.16% 56.59% with 7.20% 59.10%,curve to 7.92% 52.04% with 11.12% 54.09%,curve to 3.84% 47.53% with 4.73% 50.00%,curve to 6.38% 43.26% with 2.94% 45.05%,curve to 7.10% 38.32% with 9.82% 41.46%,curve to 4.59% 32.53% with 4.38% 35.18%,curve to 7.85% 28.65% with 4.80% 29.87%,curve to 15.41% 27.78% with 10.90% 27.42%,curve to 18.10% 23.89% with 19.91% 28.14%,curve to 16.80% 16.68% with 16.29% 19.65%,curve to 21.91% 15.68% with 17.32% 13.70%,curve to 28.45% 16.86% with 26.50% 17.66%,curve to 30.82% 11.97% with 30.40% 16.06%,curve to 33.36% 6.60% with 31.25% 7.88%,curve to 38.54% 7.88% with 35.48% 5.32%,curve to 43.69% 10.15% with 41.59% 10.44%,curve to 47.89% 9.28% with 45.78% 9.86%);
}

.event-blob-2 {
  aspect-ratio: 1;
  clip-path: shape(from 8.82% 33.98%,curve to 17.02% 18.21% with 11.59% 25.62%,curve to 30.90% 6.56% with 22.45% 10.80%,curve to 48.44% 4.56% with 39.34% 2.32%,curve to 66.06% 9.04% with 57.54% 6.80%,curve to 81.84% 16.90% with 74.57% 11.28%,curve to 93.77% 30.85% with 89.10% 22.52%,curve to 95.78% 48.35% with 98.45% 39.17%,curve to 92.57% 67.10% with 93.11% 57.52%,curve to 84.49% 82.51% with 92.02% 76.67%,curve to 68.17% 90.17% with 76.95% 88.35%,curve to 50.88% 92.85% with 59.39% 91.99%,curve to 34.06% 90.96% with 42.37% 93.72%,curve to 18.59% 82.66% with 25.75% 88.20%,curve to 7.68% 68.70% with 11.43% 77.11%,curve to 4.99% 51.31% with 3.94% 60.30%,curve to 8.82% 33.98% with 6.05% 42.33%);
}

.event-blob-3 {
  aspect-ratio: 1;
  clip-path: shape(from 92.72% 41.60%,curve to 94.45% 59.11% with 94.90% 50.00%,curve to 89.22% 76.33% with 94.01% 68.23%,curve to 75.45% 87.10% with 84.44% 84.44%,curve to 58.23% 92.53% with 66.47% 89.76%,curve to 40.91% 94.59% with 50.00% 95.31%,curve to 23.38% 89.48% with 31.82% 93.88%,curve to 12.63% 75.75% with 14.93% 85.07%,curve to 5.30% 58.21% with 10.34% 66.43%,curve to 3.67% 41.11% with 0.26% 50.00%,curve to 13.66% 26.23% with 7.08% 32.22%,curve to 26.77% 14.96% with 20.23% 20.23%,curve to 41.65% 7.54% with 33.30% 9.69%,curve to 58.95% 6.09% with 50.00% 5.39%,curve to 75.50% 11.84% with 67.89% 6.80%,curve to 86.83% 25.05% with 83.11% 16.89%,curve to 92.72% 41.60% with 90.55% 33.20%);

  /* clip-path: shape(from 47.89% 9.28%,curve to 52.40% 6.50% with 50.00% 8.71%,curve to 57.37% 3.77% with 54.80% 4.29%,curve to 60.86% 8.50% with 59.94% 3.25%,curve to 64.43% 12.69% with 61.78% 13.75%,curve to 69.97% 11.02% with 67.08% 11.63%,curve to 75.92% 10.25% with 72.86% 10.40%,curve to 77.19% 15.95% with 78.99% 10.11%,curve to 81.11% 19.32% with 75.39% 21.80%,curve to 86.19% 20.50% with 86.82% 16.84%,curve to 83.59% 27.95% with 85.56% 24.17%,curve to 83.68% 32.91% with 81.62% 31.74%,curve to 87.28% 35.74% with 85.74% 34.09%,curve to 91.16% 39.07% with 88.82% 37.39%,curve to 93.92% 43.05% with 93.50% 40.75%,curve to 91.96% 47.67% with 94.34% 45.34%,curve to 91.05% 52.23% with 89.59% 50.00%,curve to 94.75% 57.23% with 92.52% 54.47%,curve to 95.17% 62.04% with 96.98% 59.99%,curve to 90.33% 65.35% with 93.36% 64.09%,curve to 85.14% 67.82% with 87.29% 66.60%,curve to 80.98% 70.05% with 82.98% 69.04%,curve to 81.12% 75.50% with 78.99% 71.06%,curve to 83.22% 83.40% with 83.26% 79.95%,curve to 78.34% 84.60% with 83.17% 86.84%,curve to 73.51% 86.55% with 73.50% 82.35%,curve to 70.34% 89.65% with 73.52% 90.74%,curve to 64.64% 87.93% with 67.16% 88.55%,curve to 60.91% 91.46% with 62.13% 87.32%,curve to 56.91% 92.47% with 59.69% 95.60%,curve to 52.07% 87.71% with 54.13% 89.34%,curve to 47.91% 87.94% with 50.00% 86.09%,curve to 44.12% 87.72% with 45.82% 89.78%,curve to 40.28% 86.09% with 42.42% 85.66%,curve to 36.83% 84.51% with 38.14% 86.51%,curve to 33.67% 82.01% with 35.52% 82.52%,curve to 29.59% 81.33% with 31.81% 81.51%,curve to 24.43% 81.41% with 27.37% 81.15%,curve to 20.19% 79.83% with 21.49% 81.67%,curve to 16.88% 76.77% with 18.90% 78.00%,curve to 13.98% 73.42% with 14.86% 75.53%,curve to 13.72% 68.59% with 13.11% 71.30%,curve to 13.95% 63.86% with 14.32% 65.88%,curve to 10.39% 60.47% with 13.58% 61.83%,curve to 9.16% 56.59% with 7.20% 59.10%,curve to 7.92% 52.04% with 11.12% 54.09%,curve to 3.84% 47.53% with 4.73% 50.00%,curve to 6.38% 43.26% with 2.94% 45.05%,curve to 7.10% 38.32% with 9.82% 41.46%,curve to 4.59% 32.53% with 4.38% 35.18%,curve to 7.85% 28.65% with 4.80% 29.87%,curve to 15.41% 27.78% with 10.90% 27.42%,curve to 18.10% 23.89% with 19.91% 28.14%,curve to 16.80% 16.68% with 16.29% 19.65%,curve to 21.91% 15.68% with 17.32% 13.70%,curve to 28.45% 16.86% with 26.50% 17.66%,curve to 30.82% 11.97% with 30.40% 16.06%,curve to 33.36% 6.60% with 31.25% 7.88%,curve to 38.54% 7.88% with 35.48% 5.32%,curve to 43.69% 10.15% with 41.59% 10.44%,curve to 47.89% 9.28% with 45.78% 9.86%); */
}

/* .event-blob {
  aspect-ratio: 1;
  --g:/37.02% 37.02% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
  mask: 97.355% 66.047% var(--g),49.372% 99.996% var(--g),2.257% 64.852% var(--g),21.121% 9.183% var(--g),79.895% 9.922% var(--g),radial-gradient(100% 100%,#000 25.476%,#0000 calc(25.476% + 1px));
} */

.font-cursive {
  font-family: 'Dancing Script', sans-serif;
}

.text-stroke {
  -webkit-text-stroke: 1px black; 
  color: transparent    
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ede8e4;
}

body {
    font-family: "Archivo Black", cursive; 

  /* font-family: "Pacifico", cursive; */
  /* font-family: "Allura", cursive; */
  /* font-family: "Dancing Script", cursive;
  font-family: "Satisfy", cursive; */

}
/* 
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap" );
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap" );
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap" );
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
